@page
@model ListTOMania.Web.Pages.login.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}


<h1 class="text-danger">Zugriff nicht erlaubt</h1>

<a class="btn btn-primary" asp-area="" asp-page="/list/Index">To List Overview</a>