@page
@model ListTOMania.Web.Pages.login.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<p>Hier kannst du dich ausloggen.</p>
<form method="post">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
