@page
@model ListTOMania.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 glow m-4">Welcome</h1>
    <div class="mt-4">
        <a asp-page="/List/Index" class="fs-3">▶ to the lists</a>
    </div>
    <img src="~/img/graph.png" width="100%"/>
</div>

</div>
