@page
@model ListTOMania.Web.Pages.user.DeleteModel
@{
    ViewData["Title"] = "Delete User";

}

<div class="alert alert-danger">

    <h5>Are you sure to delete @Model.UserDto?.Name</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/List/Index">No</a>
    </form>
</div>